body {
  height: 3000px;
}

.sidebar {
  width: 100px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: green;
  color: white;
}

.overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.28);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  padding: 16px 16px;
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 300px;
}

.modal-title {
  font-family: Arial;
  font-size: 26px;
  margin: 0;
  font-weight: bold;
}

.subtitle {
  font-size: 14px;
  font-family: arial;
  margin: 0;
  font-weight: 500;
}

.close-button {
  width: 60px;
  margin: 0;
}

