div {
  text-align: center;
}
img {
 width: 175px;
 margin-bottom: 10px;
}
input {
  padding: 10px 10px;
  width: 400px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 17px;
  border: none;
  box-shadow: 0 1px 6px 3px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}
button {
  font-size: 14px;
  font-weight: 500;
  padding: 10px 20px;
  border-style: none;
  margin-right: 10px;
}