.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
  background-color: rgb(184,30,240);
  font-family: Arial;
  height: 50px;
  align-items: center;
}
.home {
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
}
.search-bar {
  width: 500px;
  height: 26px;
  border: none;
  border-radius: 13px;
  font-size: 12px;
  padding-left: 20px;
}
.download-button {
  color: white;
  border-style: solid;
  border-color: white;
  padding: 6px 10px;
  border-width: 1px;
  margin-right: 10px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
